@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<PageTitle>SmallTalk!!!</PageTitle>

@*<div class="page">*@
    @*<div class="sidebar">
        <NavMenu />
    </div>*@

    <header>
        <div class="header-toolbar">
            <h1>#alchemy</h1>
            <LoginDisplay />
        </div>
    </header>

    <main>
        <div class="main-content">        
            <article class="content px-4">
                @Body
            </article>
        </div>
    </main>

    <footer>
        <div class="editor">
            <div>
                <span class="textarea" role="textbox" contenteditable></span>
            </div>
            <div class="tool-strip">
                <a href="#" class="button">
                    <span class="glyphicon glyphicon-paperclip"></span>
                    <span>Attach</span>
                </a>
                <div class="actions">
                    <a href="#" class="success button">
                        <span class="glyphicon glyphicon-send"></span>
                        <span>Send</span>
                    </a>
                </div>
            </div>
        </div>
    </footer>

@*</div>*@

@code 
{

    [CascadingParameter] protected Task<AuthenticationState> AuthStat { get; set; }

    protected async override Task OnInitializedAsync()
    {
        base.OnInitialized();
        var user = (await AuthStat).User;
        if (!user.Identity.IsAuthenticated)
        {
            NavigationManager.NavigateTo($"Identity/Account/Login?returnUrl={Uri.EscapeDataString(NavigationManager.ToBaseRelativePath(NavigationManager.Uri))}");
        }
    }
}