
// width
::-webkit-scrollbar
{
    width: 12px;
}  

// Track
::-webkit-scrollbar-track
{
    background: transparent;
}
  
// Handle
::-webkit-scrollbar-thumb
{
    background: hsl(240deg, 5%, 15%);
    border-radius: 6px;
    transition: background-color 0.25s ease-out
}

// Handle on hover
::-webkit-scrollbar-thumb:hover
{
    background: hsl(240deg, 5%, 20%);
}
