@require "_theme.styl"
@require "_reset.styl"
@require "_scrollbars.styl"
@require "_blazor-chrome.styl"

// BEGIN THEME ////////////////////////////////////////////////////////////////

$block-size = 5px
$default-anchor-text-color = hsl(210deg, 100%, 50%)
$default-background-color = black
$default-font-family = 'Open Sans', 'Helvetica', 'Helvetica Neue', 'Segoe UI', 'Arial', sans-serif
$default-font-size = $block-size * 3
$default-line-height = $block-size * 4
$default-text-color = hsl(270deg, 100%, 93%)
$content-max-width = 1200px

// END THEME //////////////////////////////////////////////////////////////////

// BEGIN CLASSES //////////////////////////////////////////////////////////////

.pad-none
    padding: 0px;
    gap: 0px;

.pad-xs
    padding: $block-size
    gap: $block-size

.pad-s
    padding: $block-size * 2
    gap: $block-size * 2

.subtle
    color: rgba(white, 35%)
    font-size: $block-size * 2

.strip
    display: flex

.stack
    display: flex
    flex-direction: column

.username
    font-size: $block-size * 4
    line-height: $block-size * 6
    font-weight: 100
    padding-right: $block-size

.outline-throb
    animation-name: color
    animation-duration: 2s
    animation-iteration-count: infinite

.text-color-throb
    animation-name: text-color-throb
    animation-duration: 2s
    animation-iteration-count: infinite
    
.header-toolbar
    display: flex
    justify-content: space-between
    max-width: $content-max-width
    margin: 0px auto
    background-color: hsla(210deg, 100%, 50%, 15%)

.main-content
    //max-width: $content-max-width
    margin: 0px auto
    background-color: hsl(240deg, 5%, 5%)
    height: 100%
    flex: 1
    //overflow-y: auto
    box-shadow: inset 0px 0px 50px rgba(black, 20%)

.content-stack
    display: flex
    flex-direction: column
    height: 100%
    flex: 1 1 100%
    overflow: hidden

.scrollable-content
    overflow-y: auto
    overflow-x: hidden
    flex: 1 1 200px
    height: 100%
    padding-left: 12px

@media (max-width: $content-max-width)
{
    .scrollable-content
    {
        padding-left: 0px
    }
}

.centered-content
    margin: 0px auto
    max-width: $content-max-width
    background-color: hsl(240deg, 5%, 10%)
    min-height: 100%
    // position: relative
    // left: 6px
    overflow: hidden
    
.fading-content
    opacity: 0%
    &.opaque
        animation-name: message-appear
        animation-duration: 0.25s
        animation-iteration-count: 1
        animation-fill-mode: forwards

.login-button
    padding: $block-size
    line-height: $default-font-size * 2

.avatar
    width: $block-size * 6
    height: $block-size * 6
    line-height: $block-size * 6
    background-color: rgba(white, 20%)
    text-align: center
    border-radius: 9999px
    &.alice
        background-color: hsl(0deg, 100%, 33%)
    &.bob
        background-color: hsl(120deg, 100%, 33%)

.date-divider
    @extend .subtle
    border-top: solid 3px hsl(240deg, 5%, 15%)
    text-align: center
    margin-top: $block-size * 2
    margin-bottom: $block-size * -4

.message-group
    // background-color: rgba(white, 5%)
    margin: $block-size
    //border-radius: $block-size * 2
    //overflow: hidden
    &.incoming
        //outline: solid 1px deeppink
        //transition: background-color 1s
        animation-name: message-appear
        animation-duration: 0.5s
        animation-iteration-count: 1
        opacity: 50%
        outline: solid 1px deeppink
    .message-stack
        &.incoming
            animation-name: message-appear
            animation-duration: 0.5s
            animation-iteration-count: 1
        &:hover 
            .content-column
                background-color: hsl(240deg, 5%, 15%)
            .toolbox
                opacity: 100%
        &:focus 
            .content-column
                background-color: hsl(240deg, 5%, 15%)
            .toolbox
                opacity: 100%
    .toolbar
        display: flex
        justify-content: flex-end
        //outline: solid 1px deeppink
        height: $block-size * 7
        margin-bottom: $block-size * -7
        .toolbox
            @extend .strip
            background-color: hsl(240deg, 5%, 15%)
            line-height: $block-size * 5
            border-radius: $block-size
            outline: solid 1px rgba(white, 20%)
            z-index: 1000
            opacity: 0%
            transition: opacity 0.5s ease-out
            & > *
                @extend .pad-xs
                text-align: center
                padding-left: $block-size * 2
                padding-right: $block-size * 2
                display: block
                color: white
                filter: grayscale()
                border-radius: $block-size
                background-color: transparent
                border: none

                &:hover
                    background-color: hsl(240deg, 5%, 25%)
    .message-row
        @extend .strip
        //@extend .pad-xs
        .margin-column
            flex: 0 0 $block-size * 10
            padding-top: $block-size
            .avatar
                //margin: 0px auto
                width: 40px
                height: 40px
                line-height: 40px
                margin-left: $block-size
                margin-bottom: $block-size * -2
                margin-right: $block-size * -2
                box-shadow: 1px 2px 10px rgba(black, 50%)
                //outline: solid 2px black
                position: relative
                top: $block-size * 1.5
            .timestamp
                @extend .subtle
                font-size: $block-size * 2
                text-align: center
                //padding-right: 5px
        .content-column
            @extend .pad-s
            transition: background-color 0.5s ease-out
            cursor: pointer
            padding-left: $block-size * 1
            padding-right: $block-size * 1
            //border-radius: $block-size * 2
            //background-color: hsl(240deg, 5%, 15%)
            padding-top: 5px
            padding-bottom: 5px
            //box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
            //border: solid 1px rgba(white, 5%)
            width: 100%
            line-height: $block-size * 5
            border-radius: $block-size
            // &:hover
            //     background-color: hsl(240deg, 5%, 15%)
            // &:focus
            //     //outline: dashed 1px deeppink !important
            //     background-color: hsl(240deg, 5%, 15%)
            .image-tile
                display: block
                margin-top: $block-size
                img
                    display: block
                    max-width: 100%
                    max-height: 300px
                    width: auto
                    height: auto
            .attachment-tile
                @extend .pad-s
                cursor: pointer
                padding-left: $block-size * 3
                padding-right: $block-size * 3
                display: block
                float: left
                color: $default-text-color
                margin-top: $block-size * 1
                margin-bottom: $block-size * 1
                border-radius: $block-size
                background-color: hsl(210deg, 20%, 20%)
                box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
            .message-stack-title
                display: flex
                .username
                    font-size: $block-size * 3.5
                    line-height: $block-size * 4.5
                    font-weight: 100
                    padding-top: $block-size
                    padding-left: $block-size
                .timestamp
                    @extend .subtle    
                    padding-top: $block-size * 2
                    padding-left: $block-size * 2
                    line-height: $block-size * 3
            // h2
            //     @extend .pad-none
            //     font-size: $block-size * 4
            //     line-height: $block-size * 4
            //     font-weight: 100
            //     color: hsl(270deg, 100%, 93%)
            p
                @extend .pad-none
                &+p
                    margin-top: $block-size
            &.selected
                @extend .outline-throb
                outline: solid 0px hsl(60deg, 100%, 25%)
                background-color: hsl(240deg, 10%, 15%)
                box-shadow: 0 0 50px rgba(black, 80%)
                z-index: 200
        &.header
            margin-bottom: $block-size * -2
            z-index: 1000
            .content-column
                margin-left: $block-size * -1
                border-bottom-left-radius: 0px
                border-bottom-right-radius: 0px
                background-color: transparent;
                border: none
                box-shadow: none
    .reaction-row
        padding-top: $block-size
        margin-left: 35px
        display: flex
        flex-wrap: wrap
        gap: $block-size
        a
            @extend .pad-xs
            color: $default-text-color
            cursor: pointer
            padding-left: $block-size * 2
            padding-right: $block-size * 2
            border-radius: $block-size * 3
            border: solid 1px rgba(white, 10%)

.typing-indicator
    @extend .subtle
    @extend .text-color-throb
    margin-left: $block-size * 12
    line-height: $block-size * 1
    margin-bottom: $block-size * 2
    opacity: 100%
    transition: opacity 0.25s ease-out
    .typing-indicator-content
        transition: opacity 1s ease-out
        &.opaque
            opacity: 100%
        &.transparent
            opacity: 0%

.action-bar
    @extend .pad-xs
    @extend .outline-throb
    float: right
    display: flex
    border-radius: $block-size * 2
    outline: solid 3px hsl(60deg, 100%, 25%)
    margin-top: ($block-size * -16) - 0
    margin-left: $block-size * -3
    margin-right: $block-size * -3 
    margin-bottom: $block-size * 2
    box-shadow: 0 0 50px rgba(black, 80%)
    z-index: 100
    background-color: hsl(240deg, 10%, 15%)
    a
        @extend .pad-s
        padding-left: $block-size * 3
        padding-right: $block-size * 3
        color: $default-text-color
        font-size: $block-size * 4
        filter: grayscale(1);
        transition: background-color 0.25s ease-out
        border-radius: $block-size
        &:hover
            color: $default-text-color
            background-color: hsl(240deg, 15%, 30%)
            
.editor
    @extend .pad-s
    padding-bottom: $block-size * 3
    max-width: $content-max-width
    margin: 0px auto
    width: 100%
    background-color: hsl(240deg, 5%, 10%)
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 50%);
    border-top: solid 2px rgba(white, 10%)
    .textarea
        @extend .pad-s
        border-radius: $block-size
        display: block
        overflow: hidden
        resize: none
        min-height: $block-size * 6
        line-height: $block-size * 4
        color: $default-text-color
        background-color: hsl(240deg, 5%, 5%)
        width: 100%
        height: ($block-size * 8)px
        border: none
        margin-bottom: $block-size * 2
        //border-radius: 5px
        outline: none !important
        box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5);
        border: solid 1px hsl(0deg, 0%, 33%)
        max-height: 500px
        overflow-y: auto
    .textarea[contenteditable]:empty::before
        content: "Message #alchemy"
        color: gray

.tool-strip
    //@extend .pad-xs
    display: flex
    //background-color: rgba(white, 5%)
    border-radius: $block-size
    .actions
        gap: $block-size * 2
        display: flex
        justify-content: flex-end
        flex: 1
        a
            display: block

.button
    @extend .pad-s
    padding-left: $block-size * 3
    padding-right: $block-size * 3
    display: flex
    float: left
    text-align: center
    color: $default-text-color
    border: solid 1px rgba(white, 10%)
    border-radius: $block-size * 2
    background-color: hsla(210deg, 50%, 50%, 20%)
    transition: background-color 0.25s ease-out
    transition: box-shadow 0.25s ease-out
    cursor: pointer
    &.success
        background-color: hsla(120deg, 100%, 50%, 50%)
        &:hover
            background-color: hsla(120deg, 100%, 50%, 55%)
            box-shadow: inset 0 0 10px hsla(120deg, 100%, 50%, 100%)
    &.cancel
        background-color: hsla(0deg, 100%, 50%, 50%)
        &:hover
            background-color: hsla(0deg, 100%, 50%, 55%)
            box-shadow: inset 0 0 10px hsla(0deg, 100%, 50%, 100%)
    &:hover
        color: white
        background-color: hsla(210deg, 50%, 50%, 20%)
        box-shadow: inset 0 0 10px hsla(210deg, 50%, 50%, 30%) 
    
// *+.button
//     margin-top: $block-size * 2

.flip-horizontal
    transform: scale(-1, 1);
    
h1.title
    @extend .pad-xs
    padding-left: $block-size * 2
    box-shadow: 0px 0px 20px rgba(black, 50%)
    border-bottom: solid 1px hsl(240deg, 5%, 20%)
    background-color: hsl(240deg, 5%, 12%)
    z-index: 1000
    max-width: $content-max-width
    margin: 0px auto
    width: 100%
    font-weight: 100

.file-upload
    //outline: solid 1px deeppink

.quote-icon
    font-family: Georgia
    display: block
    font-size: $block-size * 7
    padding-top: $block-size * 2
    line-height: $block-size * 4

// .tiny-button
//     display: flex
//     flex-wrap: nowrap
//     gap: $block-size
//     outline: solid 1px deeppink !important
//     span
//         display: block
//         flex-wrap: nowrap
    
@keyframes message-appear {
    0% {
        opacity: 0%
    }
    100% {
        opacity: 100%
    }
}

@keyframes text-color-throb {
  0% {
    color: hsl(60deg, 0%, 25%)
  }
  50% {
    color: hsl(60deg, 0%, 33%)
  }
  100% {
    color: hsl(60deg, 0%, 25%)
  }
}

@keyframes color {
  0% {
    outline-color: hsl(60deg, 0%, 25%)
    outline-width: 2px
  }
  50% {
    outline-color: hsl(60deg, 0%, 33%)
    outline-width: 3px
  }
  100% {
    outline-color: hsl(60deg, 0%, 25%)
    outline-width: 2px
  }
}

#components-reconnect-modal
    background-color: hsl(240deg, 5%, 10%) !important

// END CLASSES ////////////////////////////////////////////////////////////////

// BEGIN ELEMENTS /////////////////////////////////////////////////////////////

*, *:before, *:after 
    box-sizing: inherit

html
    box-sizing: border-box
    height: 100%

html, body, main
    background-color: $default-background-color
    color: $default-text-color
    font-family: $default-font-family
    font-size: $default-font-size
    line-height: $default-line-height
    overflow: hidden

body
    display: flex
    flex-direction: column
    height: 100%
    touch-action: pan-y // https://dev.to/jasperreddin/disabling-viewport-zoom-on-ios-14-web-browsers-l13
    //background-color: darkorange

header
    color: white
    font-weight: 600
    background-color: hsla(210deg, 100%, 50%, 20%)
    border-bottom: solid 3px hsl(210deg, 100%, 10%) //hsl(0deg, 0%, 33%)
    z-index: 1000
    box-shadow: 0px 0px 10px rgba(black, 50%)

main
    flex: 1
    
header h1
    @extend .pad-s
    font-size: $default-font-size * 1.3333
    line-height: $default-font-size * 1.3333

p
    @extend .pad-s

a
    color: hsla($default-anchor-text-color, 80%)
    text-decoration: none !important
    &:hover
        color: hsla($default-anchor-text-color, 90%)

h1, h2, h3, h4, h5, h6
    font-weight: bold

h1
    font-size: $default-font-size * 1.5
    line-height: $default-font-size * 1.5 + $block-size * 2

h2
    font-size: $default-font-size * 1.4
    line-height: $default-font-size * 1.4 + $block-size * 2

h3
    font-size: $default-font-size * 1.3
    line-height: $default-font-size * 1.3 + $block-size * 2

h4
    font-size: $default-font-size * 1.2
    line-height: $default-font-size * 1.2 + $block-size * 2

h5
    font-size: $default-font-size * 1.1
    line-height: $default-font-size * 1.1 + $block-size * 2

h6
    font-size: $default-font-size * 1.0
    line-height: $default-font-size * 1.0 + $block-size * 2

strong
    font-weight: 600

em
    font-style: italic

ul
    list-style-type: disc
    margin-left: $block-size * 3

ol
    list-style-type: decimal
    margin-left: $block-size * 3

blockquote
    border-left: solid 3px rgba($default-text-color, 20%)
    padding-left: $block-size * 2
    margin-top: $block-size
    margin-bottom: $block-size

pre
    @extend .pad-s
    font-family: monospace
    background-color: hsl(240deg, 5%, 20%)
    border-radius: $block-size
    line-height: $block-size * 3.5
    code
        display: block
        background-color: transparent

code
    font-family: monospace
    background-color: black
    border-radius: $block-size
    padding-left: $block-size
    padding-right: $block-size
    padding-top: 2px
    padding-bottom: 2px
    background-color: hsl(240deg, 5%, 20%)
    
input[type=file]
    display: none

// END ELEMENTS ///////////////////////////////////////////////////////////////


