@page "/"

<PageTitle>Index</PageTitle>

<div class="date-divider">Wednesday, March 19 2023</div>

<div class="message-stack">

    <div class="header message-row">
        <div class="margin-column">
            <div class="alice avatar">A</div>
        </div>
        <div class="content-column">
            <h2>Alice</h2>
        </div>
    </div>

    <div class="message-row">
        <div class="margin-column">
            <div class="timestamp">12:34</div>
        </div>
        <div class="content-column">
            <p>Suspendisse ultricies enim vitae mauris pellentesque, at convallis quam bibendum.</p>
        </div>
    </div>

</div>

<div class="message-stack">

    <div class="message-row">
        <div class="margin-column">
            <div class="timestamp">12:45</div>
        </div>
        <div class="content-column">
            <p>Donec viverra, magna vitae commodo sollicitudin, dolor nibh interdum urna, sit amet lacinia lacus massa lobortis mauris. </p>
            <a class="button">
                <span class="glyphicon glyphicon-cloud-download"></span>
                <span>Dolor interdum urna.tsv</span>
                <span class="subtle">134 KiB</span>
            </a>
        </div>
    </div>
</div>

<div class="message-stack">

    <div class="message-row">
        <div class="margin-column">
            <div class="timestamp">12:45</div>
        </div>
        <div class="content-column">
            <a class="button">
                <span class="glyphicon glyphicon-cloud-download"></span>
                <span>sit-amet-lacinia.proto.gz</span>
                <span class="subtle">120 MiB</span>
            </a>
        </div>
    </div>
</div>

<div class="message-stack">

    <div class="header message-row">
        <div class="margin-column">
            <div class="bob avatar">B</div>
        </div>
        <div class="content-column">
            <h2>Bob</h2>
        </div>
    </div>

    <div class="message-row">
        <div class="margin-column">
            <div class="timestamp">12:54</div>
        </div>
        <div class="content-column">
            <p>Suspendisse ultricies enim vitae mauris pellentesque, at convallis quam bibendum.</p>
            <p>In dolor justo, placerat id erat ut, varius pretium libero 🤮. Aenean eget volutpat nisi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
        </div>
    </div>

    <div class="reaction-row">
        <a href="#"><span class="glyphicon glyphicon-share"></span> 12 replies</a>
        <a class="reaction-chip">🤮 2</a>
        <a class="reaction-chip">👍 1</a>
        <a class="reaction-chip">🧑‍🍳 2</a>
        <a class="reaction-chip">💋 1</a>
        <a class="reaction-chip">🤣 2</a>
        <a class="reaction-chip">😮 1</a>
    </div>

</div>

<div class="message-stack">

    <div class="message-row">
        <div class="margin-column">
            <div class="timestamp">01:23</div>
        </div>
        <div class="content-column">
            <p>Sed consectetur blandit auctor. Curabitur imperdiet aliquam velit, vitae laoreet dolor tincidunt eget. Sed ex urna, feugiat non condimentum nec, congue sed diam.</p>
        </div>
    </div>

</div>


<div class="message-stack">

    <div class="message-row">
        <div class="margin-column">
            <div class="timestamp">01:23</div>
        </div>
        <div class="content-column">
            <p>Donec viverra, magna vitae commodo sollicitudin, dolor nibh interdum urna, sit amet lacinia lacus massa lobortis mauris. </p>
        </div>
    </div>

</div>

<div class="date-divider">Thursday, March 20 2023</div>

<div class="message-stack">

    <div class="header message-row">
        <div class="margin-column">
            <div class="alice avatar">A</div>
        </div>
        <div class="content-column">
            <h2>Alice</h2>
        </div>
    </div>

    <div class="message-row">
        <div class="margin-column">
            <div class="timestamp">12:54</div>
        </div>
        <div class="content-column">
            <p>Donec nunc eros, aliquet id lobortis tempus, hendrerit at odio. Suspendisse ac quam id eros eleifend condimentum non a metus.</p>
            <a class="image-tile" target="_blank" href="test-image.jpg"><img src="test-image.jpg" /></a>
        </div>
    </div>

    <div class="reaction-row">
        <a class="reaction-chip">🤮 2</a>
        <a class="reaction-chip">🍆 1</a>
    </div>

</div>

<div class="message-stack">

    <div class="message-row">
        <div class="margin-column">
            <div class="timestamp">12:54</div>
        </div>
        <div class="content-column">
            <p>Duis vehicula, risus sit amet posuere fringilla, nibh dui tincidunt libero, sed sollicitudin turpis sapien non orci. In maximus porttitor placerat.</p> 
            <p>Integer eget velit nec sem consectetur feugiat et vel mi. Sed arcu nunc, vehicula ut lectus ut, molestie aliquet lorem. Nullam aliquet vitae diam cursus molestie. Cras sapien tellus, venenatis nec facilisis ut, commodo eget augue.</p>
        </div>
    </div>

</div>

<div class="message-stack">

    <div class="header message-row">
        <div class="margin-column">
            <div class="bob avatar">B</div>
        </div>
        <div class="content-column">
            <h2>Bob</h2>
        </div>
    </div>

    <div class="message-row">
        <div class="margin-column">
            <div class="timestamp">12:54</div>
        </div>
        <div class="selected content-column">
            <div class="action-bar">
                <a href="#">😄</a>
                <a href="#"><span class="glyphicon glyphicon-trash"></span></a>
                <a href="#"><span class="glyphicon glyphicon-share"></span></a>
                <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
            </div>
            <p>Duis aliquet iaculis rhoncus. Pellentesque sagittis, metus ut tempus venenatis, magna justo mollis urna, quis varius nulla lacus et ipsum.</p> 
            <p>Curabitur eleifend, tortor a cursus congue, elit metus suscipit tellus, vel molestie dui tellus et purus. Cras varius nulla sit amet nisl laoreet vulputate. Phasellus vehicula sed turpis id vestibulum. Curabitur pulvinar pretium turpis nec accumsan. Sed gravida turpis non felis posuere hendrerit.</p>
        </div>
    </div>

</div>

<div class="message-stack">

    <div class="message-row">
        <div class="margin-column">
            <div class="timestamp">01:23</div>
        </div>
        <div class="content-column">
            <p>Sed consectetur blandit auctor. Curabitur imperdiet aliquam velit, vitae laoreet dolor tincidunt eget. Sed ex urna, feugiat non condimentum nec, congue sed diam.</p>
            <p>Donec viverra, magna vitae commodo sollicitudin, dolor nibh interdum urna, sit amet lacinia lacus massa lobortis mauris. </p>
        </div>
    </div>

</div>

<div class="typing-indicator">Alice and Bob are typing...</div>